<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OnyouOtomasyon.Properties.Settings.OnyouOtomasyonConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\OnyouOtomasyon.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="OnyouOtomasyon.Properties.Settings.bag" connectionString="Data Source=DESKTOP-TPTCHJL\SQLEXPRESS;Initial Catalog=D:\VERITABANı\ONYOUOTOMASYON.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>